.section-hanna {
    align-items: center;
}

.tooltip {
    position: absolute;
    text-align: center;
}

.tooltip h3 {
    text-align: left;
    font-weight: bold;
}

.tooltip h4 {
    text-align: left;
}

.axis-ibta {
    font-size: 6px;
}

.line-ibta {
    fill: none;
    stroke: #86AC86;
    stroke-width: 3px;
}