/*Hanna visualization stuff*/
.section-hanna {
    align-items: center;
}

.musicVis_title {
    font-size: 5vh;
    text-align: center;
    font-family: Grenze Gotisch;
}

.musicVis_narrator {
    font-size: 2vh;
    font-family: EB Garamond;
    text-align: center;
    padding-top: 3vh;
    padding-left: 20%;
    padding-right: 20%;
}

.musicVis_progressionDiv {
    padding-left: 10vh;
    padding-right: 10vh;
}

.button {
    border: solid 2px grey;
    border-radius: 5px;
    padding: 5px;
}

#button_next {
    float: right;
}

#button_prev {
    float: left;
}

.key_labels {
    font-family: EB Garamond;
    font-size: 18px;
    font-weight: bold;
}

.tooltip {
    position: absolute;
    text-align: center;
}

.tooltip h3 {
    text-align: left;
    font-weight: bold;
}

.tooltip h4 {
    text-align: left;
}

/*Ibta visualization stuff*/
.axis-ibta {
    font-size: 6px;
}

.line-ibta {
    fill: none;
    stroke: #86AC86;
    stroke-width: 3px;
}